*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    height: 100vh;
    width: 100%;
    background: url(./bg-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: salmon;
    position: relative;
}
.container .our{
    display: inline-block;
    position: absolute;
    top: 8%;
    left: 40%;
    font-size: 2.5rem;
    cursor: pointer;
}
.container .our:hover{
    border: 2px solid;
    padding: 10px;
    border-radius: 10px;
    animation: rotate 1.5s linear 1s;
    animation-iteration-count: 2;
    backdrop-filter: blur(20px);
    color: aqua;
    border-color: snow;
    font-size: 2.2rem;
}
@keyframes rotate{
    100%{
        transform: rotateX(360deg);
        border-color: aqua;
        color: red;
    }
}
.container .places{
    height: 80vh;
    width: 100%;
    display: flex;
    gap: 50px;
    padding: 150px 20px 10px 60px;
}
.places #hello{
    color: salmon;
    font-size: 1.5rem;
}
.places .one{
    height: 70vh;
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
}
.places .one:hover{
    animation: rotate1 1.5s linear 1s;
    animation-iteration-count: 2;
    cursor: pointer;
}
@keyframes rotate1{
    100%{
        transform: scale(90%);
    }
}
.places .one .img1{
    height: 40vh;
    width: 100%;
    background-image: url(./camping-6882479.jpg);
    background-size: cover;
    background-position: center;
}
.places .one .img1 h4{
    position: relative;
    top: 270px;
    left: 20px;
    padding: 10px;
    color: black;
}
.places .two{
    height: 70vh;
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
}
.places .two:hover{
    animation: rotate2 1.5s linear 1s;
    animation-iteration-count: 2;
    cursor: pointer;
}
@keyframes rotate2{
    100%{
        transform: scale(90%);
    }
}
.places .two .img2{
    height: 40vh;
    width: 100%;
    background-image: url(./camp-2650359.jpg);
    background-size: cover;
    background-position: center;
}
.places .two .img2 h4{
    position: relative;
    top: 270px;
    left: 20px;
    font-size: 1rem;
    padding: 10px;
    color: black;
}
.places .three{
    height: 70vh;
    width: 30%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
}
.places .three:hover{
    animation: rotate3 1.5s linear 1s;
    animation-iteration-count: 2;
    cursor: pointer;
}
@keyframes rotate3{
    100%{
        transform: scale(90%);
    }
}
.places .three .img3{
    height: 40vh;
    width: 100%;
    background-image: url(./people-4817872.jpg);
    background-size: cover;
    background-position: center;
}
.places .three .img3 h4{
    position: relative;
    top: 270px;
    left: 20px;
    font-size: 1rem;
    padding: 10px;
    color: black;
}




